<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>calendario de tareas</h1>
            <p>El calendario es en base al orden en el cual realice el horario de trabajo de Mi Portfolio</p>

        </div>
        <div class=" col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/calendario tareas.png" class="img-fluid img-proyecto">
        </div>

    </div>

</div>
